In [1]:
#SETS :
#Its a datatype - unordered collection of " UNIQUE " elements :
#using sets we can remove duplicates from a list.
s = {1,2,3}
print(type(s))
print(s)

l = [1,2,3,4,5,5,5,5,6,7,7,8]
#remove duplicates :
s2 = list(set(l))   #removed the duplicates and converted back into list.
print(s2)

#SET METHODS  :
#add items into a set.
s.add(9)
print(s)

#remove data from set.
s.remove(9)
print(s)

#discard method :
s.discard(5)
print(s)
#clear method
s.clear()
print(s)
#copy method
s1 = s.copy()
print(s1)

s3 = {1, 1.0, 2.3, 'string'} #1.0 will not be printed as its same as 1.
print(s3)

#cant store lists and dictionaries in set.

<class 'set'>
{1, 2, 3}
[1, 2, 3, 4, 5, 6, 7, 8]
{1, 2, 3, 9}
{1, 2, 3}
{1, 2, 3}
set()
set()
{1, 2.3, 'string'}

In [2]:
#More about sets :
#in keyword and for loop in set.
s1 = {'a', 'b', 'c'}

if 'a' in s:
    print("Present")
else:
    print("Not present")
    
#For loop in sets:
for item in s1:
    print(item)   #it prints in different order. 
    
#set maths :
s2 = {1,2,3,4}
s3 = {3,4,5,6}

#UNION :
union = s2 | s3
print(union)
#INTERSECTION :
inter = s2 & s3
print(inter)

Not present
b
c
a
{1, 2, 3, 4, 5, 6}
{3, 4}

In [3]:
print("\t\t\t\tCHAPTER 9 ")

				CHAPTER 9

In [4]:
#LIST COMPREHENSION :
# " using list comprehension we can create a list in one line "

#create a list comprehension of squares from 1 to 10 

#normal method :
#squares = []
#for i in range(1, 11):
#    squares.append(i**2)
#print(squares)
squares = [i**2 for i in range(1, 11)]
print(squares) 

new_negative = [-i for i in range(1, 11)]
print(new_negative)

#Method I
list1 = ['harsh', 'jain', 'shrikrishna']
new_list = []
for i in list1:
    new_list.append(i[0])
print(new_list)

#Method II
new_list2 = [name[0] for name in list1]
print(new_list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]
['h', 'j', 's']
['h', 'j', 's']

In [5]:
#EXERCISE - I
#using for loop :
l = ['abc', 'def', 'ghi']
new_list = [name[::-1] for name in l]
print(new_list)

#using functions
l1 = ['abc', 'def', 'ghi']
def reverse_list(l):
    return [name[::-1] for name in l]
print(reverse_list(l1))

['cba', 'fed', 'ihg']
['cba', 'fed', 'ihg']

In [6]:
#LIST COMPREHENSION WITH IF STATEMENT:
num = list(range(1,11))
even_nums = [i for i in num if i%2==0]
odd_nums = [i for i in num if i%2!=0]
print(even_nums)
print(odd_nums)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [7]:
#EXERCISE - II
list1 = [True, False, [1,2,3], 1, 1.0, 3]
def num_str(l):
    new_list = []
    for i in l:
        if type(i) == int or type(i) == float :
            new_list.append(str(i))
    return new_list
print(num_str(list1))

['1', '1.0', '3']

In [8]:
#exercise - 2 using L.C
list1 = [True, False, [1,2,3], 1, 1.0, 3]
def num_str(l):
    return [str(i) for i in l if (type(i) == int or type(i) == float)]
print(num_str(list1))

['1', '1.0', '3']

In [12]:
#LC WITH IF ELSE :
nums = list(range(1, 11))
new_list = [i*2 if (i%2 ==0) else (-i) for i in nums] 
print(new_list)

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

In [16]:
#NESTED LIST COMPREHENSION :
example = [[1,2,3], [1,2,3], [1,2,3]]
n = int(input("enter the no of times :"))
nestes_comp = [ [i for i in range(1,4)] for j in range(n) ]
print(nestes_comp)

enter the no of times :5
[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [17]:
print("\t\t\t\tEND OF CHAPTER 8&9")

				END OF CHAPTER 8&9